body,p{
	margin: 0;
	font-size: 14px;
}
ul,li{
	margin: 0;
	padding: 0;
	list-style: none;
}
ul{
	width: 250px;
	height: 150px;
	float: left;
}
ul li{
	width: 200px;
	height: 30px;
	margin: 15px 25px;
	line-height: 30px;
	text-align: center;
	background-color: lightsteelblue;
}
img{
	border: none;
	width: 200px;
	height: 150px;
	display: none;
	float: left;
}
#box{
	width: 450px;
	height: 200px;
	margin: 100px auto;
}
#top{
	width: 450px;
	height: 32px;
}
p span{
	width: 148px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: block;
	float: left;
	border: 1px solid gainsboro;
}
#bottip1{
	width: 450px;
	height: 150px;
}
.show{
	width: 148px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	display: block;
	background: mistyrose;
}
.pshow{
	display: block;
}
.hide{
	display: none;
}
.active{
	background-color: palevioletred;
}
